html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a:hover {
  text-decoration: none !important;
}

.slick-arrow {
  width: 50px !important;
  height: 50px !important;
}

.slick-prev {
  left: -45px !important;
}

.slick-next {
  right: -25px !important;
}
  

.slick-prev:before {
  content: "❮" !important;
  color: #888 !important;
  font-weight: 900;
  font-size: 30px !important;
}

.slick-next:before {
  content: "❯" !important;
  font-weight: 900;
  color: #888 !important;
  font-size: 30px !important;
}

.jumbotron {
  object-fit: cover;
  object-position: 37%
}

.home-page-cat-img {
  object-fit: cover;
  object-position: top center
}

.svg-darkmode {
  filter: invert()
}

.jumbotron-gender-landing {
  object-fit: cover;
  object-position: 32%
}

@media screen and (min-width: 480px) {
  .jumbotron-gender-landing {
    object-position: top;
  }
}

.banner-bg {
  object-fit: cover;
}

.featured-bg {
  object-fit: cover;
}

#skip a {
  display: block; 
  position: absolute; 
  left: -999px; 
  top: -999px;
}

#skip a:focus {
  left: 0; 
  top: 0; 
  padding: 6px; 
  background: #fff; 
  border:1px solid #990000;
}

#sort-menu > div {
  left: unset !important;
  right: 0;
}

.login-popup-container > div {
    width: 350px;
  }

@media screen and (max-width: 480px) {
  .login-popup-container > div {
    width: 250px;
  }
}