html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a:hover {
  text-decoration: none !important;
}

.slick-prev:before {
  content: "❮" !important;
  color: #888 !important;
  font-weight: 900;
  font-size: 30px !important;
}

.slick-next:before {
  content: "❯" !important;
  font-weight: 900;
  color: #888 !important;
  font-size: 30px !important;
}

.jumbotron {
  object-fit: cover;
  object-position: 37%
}